app/frontend/app/node_modules
app/backend/app/node_modules
app/backend/app/.env
/app/backend/app/node_modules
/app/backend/app/node_modules
/app/backend/app/node_modules/.bin
/app/backend/app/node_modules
